* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './sass/colors';
@import './sass/spacing';
@import './sass/typography';

body {
    background-color: $verde;
    width: 100%;
}

@import './sass/layout'