* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #f9c80e;
    border-bottom: 3px solid black;
}

nav {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.nav-logo {
    height: 50px;
    width: 50px;
    background-color: #f86624;
    border: 2px solid black;
}

.nav-itens {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-item {
    background-color: #f86624;
    border: 2px solid black;
    box-shadow: 2px 3px black;
}

.nav-item:hover {
    background-color: white;
}

.nav-item a{
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container {
    width: 100%;
    background-color: #f9c80e;
    border-bottom: 3px solid black;
}

.main-1 {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 20px;
}

.first-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.item-first-row {
    flex: 1 1 400px;
}

.thumb1 {
    border: 4px solid black;
    height: 220px;
    display: flex;
    background-color: #f86624;
    margin-bottom: 10px;
}

.container2 {
    width: 100%;
    background-color: #4fbbcb;
}

.main-2 {
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 20px;
}

.second-row {
    display: flex;
    flex-wrap: wrap;
}

.first-collum {
    flex: 1 1 350px;
    padding: 10px;
}

.thumb-collum-1 {
    background-color: #ffffff;
    height: 450px;
    border: 4px solid black;
    margin-bottom: 10px;
}

.second-collum {
    flex: 1 1 350px;
}

.second-collum-row {
    display: flex;
    gap: 15px;
    margin: 10px;
}

.thumb-collum-2 {
    background-color: #ffffff;
    height: 143.5px;
    flex: 8 1 300px;
    border: 4px solid black;
}

.info-collum-2 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.thirt-collum {
    flex: 1 1 350px;
}

.thumb-collum-3 {
    height: 220.5px;
    background-color: #ffffff;
    flex: 8 1 300px;
    border: 4px solid black;
}

.thirt-collum-row {
    display: flex;
    gap: 15px;
    margin: 10px;
}

.info-collum-3 {
    flex: 1 1 auto;
    margin-top: 20px;
}