* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    border: 5px solid white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
   
}

/*@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }
}*/

.item {
    background-color: blue;
    margin: 5px;
    text-align: center;
    height: 100px;

    flex: 1 1 200px;
}