@import '_cores';

@mixin responsive-tablet {
    font-variant: small-caps;

    @media screen and (max-width: 940px) {
        @content;
    }
}

@mixin responsive-smartphone {
    font-variant: small-caps;

    @media screen and (max-width: 460px) {
        @content;
    }
}

@mixin responsive-smart {

    @media screen and (max-width: 300px){
        @content;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include responsive-smart() {
        color: purple;
        background-color: $roxo;
    }

}

h1 {
    font-size: 74px;

    @include responsive-tablet() {
        font-size: 46px;
    }

    @include responsive-smartphone() {
        font-size: 24px;
        color: white;
    }
}
